modules = ["python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Ambos Bots NOCTURNO"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Highrise Bot"

[[workflows.workflow]]
name = "Highrise Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m highrise main:Bot 686c527e9668a3cb40e1f58d b0c7b29926c42a39987057723b8def359ce211d320ecd7f946401fdf9b14d56a"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Bot + Web Panel"
author = 47414083
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m highrise main:Bot 686c527e9668a3cb40e1f58d b0c7b29926c42a39987057723b8def359ce211d320ecd7f946401fdf9b14d56a"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_panel.py"

[[workflows.workflow]]
name = "Ambos Bots NOCTURNO"
author = 48486318
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m highrise main:Bot 686c527e9668a3cb40e1f58d b0c7b29926c42a39987057723b8def359ce211d320ecd7f946401fdf9b14d56a"

[[workflows.workflow]]
name = "Bots + Panel Web"
author = 48486318
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m highrise main:Bot 686c527e9668a3cb40e1f58d b0c7b29926c42a39987057723b8def359ce211d320ecd7f946401fdf9b14d56a"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python web_panel.py"

[[ports]]
localPort = 5000
externalPort = 80
