[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "asyncio>=4.0.0",
    "flask>=3.1.2",
    "highrise-bot-sdk>=24.1.0",
]
